
.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 3em;
    font-size: 9pt;
    align-items: center;
}

input[type=text] {
    width: 7em;
}

input[type=checkbox] {
}


main .invalid-text {
    margin: auto;
}


.main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.sets {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: 18em;
}

.grid {
    width: 50vw;
}

