
main .invalid-text {
    margin: auto;
}

#inputs {
    display: flex;
    flex-flow: row wrap;
    gap: 1em 3em;
    font-size: 0.8rem;
    font-weight: bold;
    align-items: center;
}

.main {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: flex-start;
    gap: 2em;
}

.sets {
    display: flex;
    flex-flow: column nowrap;
    gap: min(0.5vw, 0.4em);
    padding: 0.4em;
    overflow: auto;
    background: #333333;
    border-radius: 1.4em;
    max-width: 50vw;
}

.grid {
    max-width: 95vw;
}


