
main .invalid-text {
    margin: auto;
}


.main {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: flex-start;
    gap: 2em;
}

.sets {
    display: flex;
    flex-flow: column nowrap;
    gap: min(0.5vw, 0.4em);
    padding: 0.4em;
    overflow: auto;
    background: #333333;
    border-radius: 1.4em;
    max-width: 50vw;
    width: max(18em, 14vw);
}

.grid {
    max-width: 100vw;
    width: max(50em, 50vw);
}

