
main .invalid-text {
    margin: auto;
}


.main {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    gap: 2em;
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
    }
}

.sets {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(2px + 0.2vw);
    padding: calc(3px + 0.3vw);
    overflow: auto;
    background: #333333;
    border-radius: 1em;
}

.grid {
    /*width: 50vw;*/
    max-width: 100vw;
}

