
main .invalid-text {
    margin: auto;
}


.main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    text-align: center;
}


.sets {
    display: flex;
    flex-flow: column nowrap;
    gap: min(0.5vw, 0.4em);
    padding: 0.4em;
    overflow: auto;
    background: #333333;
    border-radius: 1.4em;
    width: min(18em, 60vw);
    max-width: 50vw;
}

.targeted {
    margin: 1em;
    width: min(21em, 65vw);
}


.main a {
    font-size: 0.85em;
}

